@model IEnumerable<StationeryWebApp.Models.Basket>

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

@*@using (Html.BeginForm("AddToOrder", "Orders", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    <p>
        <div class="form-group">
            <input id="quantity" title="Upload product image" type="number" max="10" min="1" name="quantity" />

        </div>
        @Html.HiddenFor(c => c., new { @name = "markerId" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="AddToBasket" title="Upload product image" type="submit" value="Add to basket" class=" btn btn-default" name="AddToBasket" />
            </div>
        </div>
        </p>
}*@