<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stationery Market</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Stationery Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Delete Customer", "DeleteCustomer", "Admin")</li>*@
                    @if (Session["Username"] == null)
                    {
                        <li class="navbar-right">@Html.ActionLink("Register", "create", "Customers")</li>
                        <li class="navbar-right">@Html.ActionLink("Login", "login", "Customers")</li>

                    }
                    else
                    {
                        <li class="navbar-right">@Html.ActionLink("Logout", "Logout", "Customers")</li>
                        <li>@Html.ActionLink("Update Your Details", "UpdateCustomerInformation", "Customers")</li>

                        if ((bool)Session["Admin"])
                        {
                            <li>@Html.ActionLink("All Customers", "GetAllCustomers", "Admin")</li>
                            <li>@Html.ActionLink("Customer Order Details", "GetCustomerOrderDetails", "Admin")</li>
                            <li>@Html.ActionLink("Admin Dash-board", "Index", "Admin")</li>
                        }

                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content"> 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ibrahim Ntambiye</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
